.footer {
    width: 1005;
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img {
    padding: 0px 15px;
}